# Build directories
build/
x64/
Debug/
Release/
.vs/

# Visual Studio files
*.user
*.filters
*.vcxproj
*.sln
*.suo
*.db
*.ipch
*.opendb
*.aps

# Compiled files
*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk
*.log
*.tlog
*.lastbuildstate
*.idb

# Windows image file caches
Thumbs.db
ehthumbs.db